<form id="filter" class="form-inline rank-form bg-fff">
  <div class="form-group">
    <div id="type" class="select"></div>
  </div>
  <div class="form-group bi-dropdown-list">
    <div id="city" class="select"></div>
  </div>
  <div class="form-group bi-dropdown-list">
    <div id="district" class="select"></div>
  </div>
  <div class="form-group bi-dropdown-list">
    <div id="area" class="select"></div>
  </div>
  <div class="form-group bi-dropdown-list">
    <div id="region" class="select"></div>
  </div>
  <div class="form-group bi-dropdown-list">
    <div id="subbranch" class="select"></div>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" id="selectedDate" readonly placeholder="日期" />
  </div>
  <button type="button" id="clear" class="btn btn-default">清空</button>
  <button type="button" id="export" disabled class="btn btn-default">导出</button>
</form>