body {
  margin: 16px 20px;
  background-color: #eee;
}
#app {
  min-width: 1050px;
  max-width: 1050px;
}

#city button {
  width: 110px;
}
#district button {
  width: 130px;
}
#area button {
  width: 160px;
}
#region button {
  width: 130px;
}
#subbranch button {
  width: 180px;
}
#selectedMonth {
  width: 100px;
}
#bizArea button {
  width: 110px;
}
#query {
  color: #fff;
  background-color: #f60;
}

.chart-wrapper {
  height: 440px;
  padding-top: 30px;
  background-color: #fff;
}
.chart-box {
  position: absolute;
  left: -99999px;
  top: -99999px;
  display: block;
}
.chart-no-data {
  background: #fff url(../img/no-data.png) center center no-repeat;
}
.table-no-data {
  background: #fff url(../img/no-datas.png) center center no-repeat;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #787878;
  border-bottom-color: transparent;
}
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #000;
}

.form-inline {
  margin-bottom: 20px;
  font-size: 12px;
}

.mmGrid {
  border: 0;
}
.mmGrid .mmg-headWrapper {
  border-bottom-width: 0;
  background-color: #ddd;
}
.mmGrid .mmg-headWrapper .mmg-head th {
  border: 0;
}
.mmGrid .mmg-bodyWrapper .mmg-body td {
  border: 0;
}

/*.mmGrid .mmg-bodyWrapper .mmg-body tr.even {
  background: #fefefe;
}*/
/* 高亮报盘率或市占率 */
.mmGrid .mmg-bodyWrapper .mmg-body td.colSelected {
  color: #f60;
  background: #fad8af;
}
.mmGrid .mmg-bodyWrapper .mmg-body td.colSelectedEven {
  color: #f60;
  background: #f3d5b1;
}
.mmGrid .mmg-bodyWrapper .mmg-body tr.hover td,.mmGrid .mmg-bodyWrapper .mmg-body tr:hover td {
  background: ;
}

/* 隐藏表头排序样式 */
.mmGrid .mmg-headWrapper .mmg-head th .mmg-titleWrapper .mmg-canSort {
   text-decoration: none;
/*   cursor: auto;*/
}
/*
.mmGrid .mmg-headWrapper .mmg-head th .mmg-titleWrapper .mmg-asc, .mmGrid .mmg-headWrapper .mmg-head th .mmg-titleWrapper .mmg-desc {
  display: none;
}*/


.datepicker--cell.-selected-.-focus-,
.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
  background-color: #9c6;
}

#selectedMonth {
  background-color: #fff;
}
#statistics {
  background-color: #ddd;
}
#statistics table {
  width: 1010px;
}
#statistics td{
  text-align: center;
  padding: 4px;
  color: #f60;
  font-weight: 700;
}
/*
.highlight-column {
  color: #f60;
  background-color: rgba(247,200,143,0.6)!important;
}
*/

.relative{
  position: relative;
}
#summary{
  /*  position: absolute;
   top: 0;
   left: 181px; */
  line-height: 36px;
}
#summary p > span{
  margin-right: 15px;
}
#summary .fb{
  font-weight: bold;
  color: #f60;
}
.page-table {
  margin-bottom: 10px;
}
.page-table .mmg-bodyWrapper{
  max-height: 360px;
}
.page-table .mmg-bodyWrapper{
  min-height: 280px;
}
/* 分页 */
#pageinator{
  background-color: #ddd;
  margin-bottom: 15px;
  padding:5px;
}
.mmPaginator .pageList li.active{
  border-color: #ddd;
}

.page-table .totalCountLabel{
  float: right;
}

#export {
  display: none;
}