/*.search-form{
  -webkit-justify-content: space-between;
  justify-content: space-between;
}*/

#orgList {
  overflow: auto;
}

#filter .select .form-control {
  width: 216px;
}

.bootstrap-dialog.size-large .bootstrap-dialog-message {
  font-size: 14px;
}

.red {
  color: red;
}

.dialog-desc {
  padding-left: 10px;
}

.in-dialog {
  text-align: left;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.in-dialog main {
  max-width: 550px;
  margin: 0 auto 15px;
}

.in-dialog .in-item {
  margin: 10px 0;
}

.in-dialog .in-item label {
  width: 100px;
}

.in-dialog .in-item .vt {
  vertical-align: text-top;
}

.in-dialog .in-item .w130 {
  width: 130px;
}

.in-box .in-int,
.in-dialog .in-item .w60 {
  width: 60px;
}

.in-dialog .in-item .w60 {
  padding-left: 5px;
}

.in-dialog footer {
  -webkit-justify-content: center;
  justify-content: center
}

.in-dialog footer .btn {
  min-width: 100px;
  margin-right: 20px;
}

.in-dialog .dialog-desc {
  text-indent: 15px;
}
